<section class="container">
  <div class="profile-grid">
    <div class="profile-card" *ngFor="let farmer of filteredProfiles">
      <!-- Profile Header -->
      <div class="profile-header">
        <img [src]="getProfileImageUrl(farmer)" alt="{{ farmer.name }}'s profile" class="profile-img">
        <h2>{{ farmer.name }}</h2>
        <p class="job-title">{{ farmer.jobTitle }}</p>
        <p class="location"><i class="fas fa-map-marker-alt"></i> {{ farmer.location }}</p>
        <div class="profile-actions">
          <button mat-raised-button class="btn-book" (click)="appointments(farmer)">Appointments</button>
        </div>
      </div>
    </div>
  </div>
</section>
