<section class="container">
  <div class="profile-grid">
    <div class="profile-card" *ngFor="let vet of filteredProfiles">
      <!-- Profile Header -->
      <div class="profile-header">
        <img [src]="getProfileImageUrl(vet)" alt="{{ vet.name }}'s profile" class="profile-img">
        <h2>{{ vet.name }}</h2>
        <p class="job-title">{{ vet.jobTitle }}</p>
        <p class="location"><i class="fas fa-map-marker-alt"></i> {{ vet.location }}</p>
        <div class="profile-actions">
          <button mat-raised-button class="btn-book" (click)="appointments(vet)">Appointments</button>
        </div>
      </div>
    </div>
  </div>
</section>
