<!-- Hero Section -->
<section id="hero" class="hero">
  <div class="container">
    <!-- Hero Content -->
    <div class="hero-content">
      <div class="left-side">
        <h1 class="hero-title">Welcome to Vet Mashinani</h1>
        <p class="hero-subtitle">Bridging the Gap in Veterinary Services</p>
      </div>
      <div class="right-side">
        <div class="cta-buttons">
          <a [routerLink]="['/vet/login']" class="cta-button primary">Continue as a Vet</a>
          <h6 class="or-text">or</h6>
          <a [routerLink]="['/farmer/login']" class="cta-button secondary">Continue as a Farmer</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Section -->
<footer class="footer-content">
  <p>&copy; 2025 <strong>Vet Mashinani</strong>. All Rights Reserved.</p>
</footer>
